model IEnumerable<MySite.Models.GitStar>

    
    <hr />
    <ol>
        @foreach (var repo in Model)
        {
            <li class="jumbotron">
                

                <h2>@Html.DisplayFor(modelItem => repo.Name) &nbsp;<span class="glyphicon glyphicon-star"></span><small>@Html.DisplayFor(modelItem => repo.Stargazers_count)</small></h2>
                

            </li>
        }
    </ol>
