@import url("http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css");


body {
  font-family: 'Hind';
	height: 100%;
}

container {
	display: ;
}






.navbar {
  background: #123857;
  padding: 25px;
  font-size: 1.8rem;
	border-width: 0;
}

 409e3bd657ebf31e7cb8cf506f03955915e25014









.img {
	height: 250px;
	width: 250px;
	position: relative;
  left: 50%;
	overflow: hidden;
  margin-left: -125px
}



