@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />

<div class="jumbotron">
    <div class="medium-8 column">
        <h2>My name is Russ Vetsper</h2>
        <p>
            I have always been fascinated about web developing, that fascination brought me to epicodus where i learned a lot about coding. I believe in success through hard work & dedication. My motto in life is ‘If you want something, work hard & you will achieve it;  i learned in life that there are no short cuts .
            I enjoy problem solving, the feeling you get when you struggle on something and that moment when everything comes together is a feeling that is very hard to describe.
        </p>
    </div>
</div>
