@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
                    <br />
                    <br />
                    <br />
                    <img class="img-responsive img-circle" src="http://www.shiftonelabs.com/blog/wp-content/uploads/2014/11/coding-future.jpg" alt="Personal Photo">
                    <br />
                    <div class="intro-text">
                        <h1 class="large h1 text-center">Russ Vetsper</h1>
                        <br />
                        <h4 class="subtitle">WEB DEVELOPMENT STUDENT FROM Seatle, WA</h4>
                        <ul class="list-inline"></ul>
                            
                    </div>
                
    
    


